<div class="dashboard flex items-center justify-center ">
    <div class="cards-container ">
      <div class="card !mr-10 shadow-xl rounded-3xl !py-14" (click)="initializeDB()">
        <img src="assets/images/db-check.png" alt="Initialize Database" class="!w-[100px] !h-[100px] " />
        <h2>Initialiser La BDD</h2>
      </div>
      
      <div class="card shadow-xl rounded-3xl !p-10" (click)="updateDB()">
        <img src="assets/images/db-update.png" alt="Update Database" class="!w-[100px] !h-[100px]" />
        <h2>Mise à jour de la BDD</h2>
      </div>
    </div>
  </div>