<div class="sidebar">
  <ul class="menu">
    <li>
      <li>
        <a href="#" class="menu-item">
          <img src="/assets/images/etablissements.png" alt="icon" class="icon">
          <span class="text">Etablissements</span>
        </a>
      </li>
    <li>
      <a href="#" class="menu-item">
        <img src="/assets/images/DPI.png" alt="icon" class="icon">
        <span class="text">Bilans</span>
      </a>
    </li>
    <li>
      <a href="#" class="menu-item">
        <img src="/assets/images/archive.png" alt="icon" class="icon">
        <span class="text">Archive</span>
      </a>
    </li>
  </ul>
  <ul class="footer">
    <a href="#" class="menu-item">
      <img src="/assets/images/disconnect.png" alt="icon" class="icon">
      <span class="text">Se déconnecter</span>
    </a>
  </ul>
</div>
