<div class="soin-container">
  <!-- Hospitalisation Title -->
  <div class="flex items-center justify-between">
    <div>
      <h6 class="soin-title mb-4">Soin n° {{ soin.ordre }}</h6>

      <!-- Action Buttons -->
      <div *ngIf="role === 'admin' || role === 'infermierResponsable'" class="actions mb-4">
        <button (click)="openPopup()" class="modify-button flex items-center gap-1">
          <img src="/assets/images/edit.png" class="h-3 w-3">
          Modifier
        </button>
        <app-modifier-soin
        [isVisible]="isPopupVisible"
        [soin]="soin"
        [infermiers]="infermiers"
        (closePopup)="closePopup()"
        (saveChanges)="updateSoin($event)"
        ></app-modifier-soin>
        <button class="delete-button flex items-center gap-1">
          <img src="/assets/images/delete.png" class="h-5 w-5">
          Supprimer
        </button>
      </div>
      <div class="dropdown-container bg-white rounded-lg p-1">
        <label for="type-select" class="bg-white rounded-lg p-1 text-main_color font-bold">Type :</label>
        <select
  id="type-select"
  [(ngModel)]="soin.type_soins"
  class="bg-white rounded-lg"
  [ngClass]="{
    'text-infermier': soin.type_soins === 'INFIRMIER',
    'text-etat': soin.type_soins === 'OBSERVATION D\'ETAT',
    'text-admin': soin.type_soins === 'ADMINISTRATION DE MEDICAMENT',
    'text-autre': soin.type_soins === 'AUTRE'
  }">
  <option value="INFIRMIER" class="text-infermier">Soin infermier</option>
  <option value="OBSERVATION D'ETAT" class="text-etat">Observation d'état</option>
  <option value="ADMINISTRATION DE MEDICAMENT" class="text-admin">Administration de médicament</option>
  <option value="AUTRE" class="text-autre">Autre</option>
</select>

      </div>
    </div>
    <!-- Details Section -->
    <div class="details">
      <div>
        <span class="label text-lg">Infermier :</span>
        <span class="value text-lg">{{ getInfermierName(soin.infermier) }}</span>
      </div>
      <div class="flex items-center gap-4">
        <span class="label text-lg">Date :</span>
        <span class="value text-lg">{{ soin.date }}</span>
        <span class="label text-lg">Heure :</span>
        <span class="value text-lg">{{ soin.heure }}</span>
      </div>
    </div>
  </div>
