<div class="card">
  <!-- Row for 'nom medicament' -->
  <div *ngIf="soin.type_soins == 'ADMINISTRATION DE MEDICAMENT'" class="container">
    <span class="row">
      <label class="label" for="medic">Nom Medicament:</label>
      <textarea class="text" id="medic" readonly>{{ soin.medicament }}</textarea>
      <div *ngIf="role == 'admin' || role == 'infermierResponsable'" class="icons">
        <button (click)="openPopup('medicament', soin.medicament)" class="button">
          <img src="/assets/images/modifier.png" alt="Edit" />
        </button>
        <app-modifier-details
          [isVisible]="activeField === 'medicament'"
          [label]="'Nom Medicament'"
          [detail]="soin.medicament"
          (closePopup)="closePopup()"
          (saveChanges)="updateField('medicament', $event)"
        ></app-modifier-details>
        <button class="button">
          <img src="/assets/images/supp.png" alt="Delete" />
        </button>
      </div>
    </span>

    <!-- Row for 'dose' -->
    <span class="row">
      <label class="label" for="dose">Dose:</label>
      <textarea class="text" id="dose" readonly>{{ soin.dose }}</textarea>
      <div *ngIf="role == 'admin' || role == 'infermierResponsable'" class="icons">
        <button (click)="openPopup('dose', soin.dose)" class="button">
          <img src="/assets/images/modifier.png" alt="Edit" />
        </button>
        <app-modifier-details
          [isVisible]="activeField === 'dose'"
          [label]="'Dose'"
          [detail]="soin.dose"
          (closePopup)="closePopup()"
          (saveChanges)="updateField('dose', $event)"
        ></app-modifier-details>
        <button class="button">
          <img src="/assets/images/supp.png" alt="Delete" />
        </button>
      </div>
    </span>
  </div>

  <!-- Row for 'etat de patient' -->
  <div class="row h-40">
    <label class="label" for="etat_patient">État de Patient:</label>
    <textarea class="text flex-1 h-36" id="etat_patient" readonly>{{ soin.etat_patient }}</textarea>
    <div *ngIf="role == 'admin' || role == 'infermierResponsable'" class="icons">
      <button (click)="openPopup('etat', soin.etat_patient)" class="button">
        <img src="/assets/images/modifier.png" alt="Edit" />
      </button>
      <app-modifier-details
        [isVisible]="activeField === 'etat'"
        [label]="'État de Patient'"
        [detail]="soin.etat_patient"
        (closePopup)="closePopup()"
        (saveChanges)="updateField('etat', $event)"
      ></app-modifier-details>
      <button class="button">
        <img src="/assets/images/supp.png" alt="Delete" />
      </button>
    </div>
  </div>

  <!-- Row for 'description' -->
  <div class="row h-56">
    <label class="label" for="description">Description:</label>
    <textarea class="text flex-1 h-52" id="description" readonly>{{ soin.description }}</textarea>
    <div *ngIf="role == 'admin' || role == 'infermierResponsable'" class="icons">
      <button (click)="openPopup('description', soin.description)" class="button">
        <img src="/assets/images/modifier.png" alt="Edit" />
      </button>
      <app-modifier-details
        [isVisible]="activeField === 'description'"
        [label]="'Description'"
        [detail]="soin.description"
        (closePopup)="closePopup()"
        (saveChanges)="updateField('description', $event)"
      ></app-modifier-details>
      <button class="button">
        <img src="/assets/images/supp.png" alt="Delete" />
      </button>
    </div>
  </div>
</div>
