.app-layout {
  @apply flex flex-col h-screen; /* Full screen layout with vertical flex */
}

.header {
  @apply w-full flex bg-white shadow-md p-4 h-screen ; /* Full-width header */
}

.main-section {
  @apply flex h-screen; /* Remaining space divided horizontally */
}

.sidebar {
  @apply shadow-md;
}

.content {
  @apply flex flex-1 flex-col bg-blue_lighter p-6 overflow-y-auto;
}


.cards {
  @apply flex flex-wrap gap-4 justify-start;
}

.cards > app-ordonnance-card {
  @apply rounded-md p-4; /* Card styles */
  flex: 1 1 calc(25% - 16px); /* 4 cards per row */
  max-width: calc(25% - 16px); /* Prevents cards from growing too large */
}
.pagination{
  @apply flex justify-center gap-4;
}

.page-button{
  @apply flex items-center justify-center gap-2 bg-white text-grayish font-semibold text-lg py-2 px-4 rounded-md border-grayish border;
}

