services:
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: medical_db
      MYSQL_USER: medical_user
      MYSQL_PASSWORD: medical_password
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=root_password || exit 1"]
      interval: 10s
      retries: 5

  web:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    entrypoint: "./entrypoint.sh"
    environment:
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_DATABASE: medical_db
      MYSQL_USER: medical_user
      MYSQL_PASSWORD: medical_password
      DJANGO_SETTINGS_MODULE: Backend.settings
    depends_on:
      db:
        condition: service_healthy

volumes:
  mysql_data:
