/* Sidebar container */
.sidebar {
  @apply h-screen w-52 flex flex-col shadow-lg fixed top-[65px] left-0 z-50 bg-white; /* Assuming header height is 64px */
}

/* Menu styling */
.menu {
  @apply flex-grow mt-2 overflow-y-auto; /* Adds vertical scrolling for long menus */
}

/* Menu item base styling */
.menu-item {
  @apply flex items-center px-4 py-3 text-second hover:bg-blue hover:text-white font-poppins;
}

/* Active menu item */
.menu-item.active {
  @apply text-blue bg-blue_light font-poppins;
}

/* Icon styling */
.icon {
  @apply mr-2;
}

/* Footer section */
.footer {
  @apply border-none ; /* Keeps the footer at the bottom of the sidebar */
}

.footer .menu-item {
  @apply flex items-center px-4 py-3 text-second hover:bg-blue hover:text-white font-poppins;
}
