<div class="bg-transparent text-main_color font-poppins w-full max-w-screen-lg mx-auto">
  <div class="grid gap-3">
    <!-- Headers -->
    <div class="bg-white grid grid-cols-6 px-6 py-3 uppercase text-main_color font-medium rounded-lg">
      <div class="text-left">Soin</div>
      <div class="text-center">Type</div>
      <div class="text-center">Infermier</div>
      <div class="text-center">Date</div>
      <div class="text-center">Heure</div>
      </div>

      <!-- Consultation Rows -->
      <div *ngFor="let soin of soins let i = index"
         class="grid grid-cols-6 items-center px-6 py-4 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <!-- Icon and Reference -->
      <div class="flex items-center gap-4 text-left">
        <span><img src='/assets/images/Consultation.png' class="w-6 h-6"> </span>
        <span class=" text-main_color">Soins {{ i+1  }}</span>
      </div>
      <!-- Type -->
      <div *ngIf="soin.type_soins=='INFIRMIER'" class="text-infermier text-center bg-infermier_light">
        Soin infermier
      </div>
      <div *ngIf="soin.type_soins=='OBSERVATION D\'ETAT'" class="text-etat text-center bg-etat_light">
        Observation d'etat
      </div>
      <div *ngIf="soin.type_soins=='ADMINISTRATION DE MEDICAMENT'" class="text-admin text-center bg-admin_light">
        Administration de medicament
      </div>
      <div *ngIf="soin.type_soins=='AUTRE'" class="text-autre text-center bg-autre_light">
        Autre
      </div>

      <!-- Medecin -->

      <div class="text-main_color text-center">
        {{ getInfermierName(soin.infermier) }}
      </div>

      <!-- Date -->
      <div class=" text-main_color text-center">
        {{ soin.date }}
      </div>

      <!-- Heure -->
      <div class=" text-main_color text-center">
        {{ soin.heure }}
      </div>

      <!-- Button -->
      <div class="text-center">
        <button
          class="bg-blue_light text-blue px-4 py-2 rounded-lg text-sm hover:bg-blue-200 transition-colors text-left"
          (click)="onConsult(soin)">
          Consulter
        </button>
      </div>
    </div>
  </div>
</div>
