<div class="flex justify-around items-center w-full pt-[70px] pl-[100px] pr-[100px] bg-[#F3F8FF] ">
 <div class="advantage-container flex items-center ">
    <div class="advantage-image-clock flex justify-center items-center mr-6">
        <img src="assets/images/clock.png" alt="clock" >
      </div>
      <div class="advantages-texts ">
        <h1 class="adv-text">24/7 disponible </h1>
        <h2 class="subtext">Nous sommes à votre service tout le temps  </h2>
      </div>
 </div>

 <div class="advantage-container flex items-center">
    <div class="advantage-image-check-circle flex justify-center items-center mr-5">
        <img src="assets/images/check-circle.png" alt="check circle" >
      </div>
      <div class="advantages-texts ">
        <h1 class="adv-text">+4 années d'expérience </h1>
        <h2 class="subtext">Notre produit est de bonne qualité     </h2>
      </div>
 </div>


 <div class="advantage-container flex items-center">
    <div class="advantage-image-MedicalSymbol flex justify-center items-center mr-4">
        <img src="assets/images/Medical Symbol.png" alt="Medtech" >
      </div>
      <div class="advantages-texts ">
        <h1 class="adv-text">+100 établissements  </h1>
        <h2 class="subtext">plusieurs hôpitaux et cliniques font confiance de notre service </h2>
      </div>
 </div>
</div>
