<header class="header h-[90px]">
    <div class="flex items-center ">
        <a href="" class="logo p-4">Medtech</a>
        <div class="menu flex space-x-8 items-center ml-auto mr-40">
            <a href="" class="menu-item">Home</a>
            <a href="" class="menu-item">About</a>
            <a href="" class="menu-item">Services</a>
            <a href="" class="menu-item">Contact</a>
        </div>
        <button (click)="redirectToLogin()" class="boutton-connecter  mr-10  hover:scale-105 hover:opacity-90 hover:shadow-lg transition-all duration-300 ease-in-out">
            Se connecter
        </button>
    </div>
</header>
