<div class="app-layout">
  <!-- Header -->
  <app-header-pdi class="header"></app-header-pdi>
  <!-- Main Content -->
  <div class="main-section">
    <!-- Sidebar -->
    <app-sidebar class="sidebar" [activeItem]="activeItem" [role]="role"></app-sidebar>

    <!--real main-->
    <div class="content">
    <app-bilan-details [params]="params" [bilan]="bilan" [role]="role"></app-bilan-details>
    <app-table-param [params]="params" [bilan]="bilan" [role]="role" [user]="user"></app-table-param>
    </div>
  </div>
</div>
