<div class="ordonnance-container">
  <!-- Ordonnance Title -->
  <div class="flex items-center justify-between">
    <div>
      <h6 class="soin-title mb-4">Ordonnance n° {{ ordonnance.id }}</h6>

      <!-- Action Buttons -->
      <div *ngIf="role === 'admin' || role === 'medecin'" class="actions mb-4">
        <button class="delete-button flex items-center gap-1">
          <img src="/assets/images/delete.png" class="h-5 w-5">
          Supprimer
        </button>
        <button *ngIf="ordonnance.termine" class="modify-button flex items-center gap-1">
          <img src="/assets/images/edit.png" class="h-4 w-4">
          Modifier
        </button>
      </div>
      <!--etablissement-->
      <div *ngIf="role === 'pharmacien'">
        <p class="text-sm text-second">etablissement</p>
      </div>

    </div>
    <!-- Details Section -->
    <div class="details justify-end">
      <div class="flex items-center justify-center gap-4">
        <span>
          <span class="label text-lg">Date :</span>
          <span class="value text-lg">{{ ordonnance.date_debut }}</span>
        </span>
        <span>
        <span class="label text-lg">Etat :</span>
          <span *ngIf="!ordonnance.estValide" class="text-lg text-red font-semibold"> non valide </span>
          <span *ngIf="ordonnance.estValide" class="text-lg text-etat font-semibold"> valide </span>
        </span>
      </div>
      <div class="flex items-center justify-center gap-4">
        <span *ngIf="role=='pharmacien'||role=='infermier'" class="label text-lg items-center">Medecin :</span>
        <span *ngIf="role=='pharmacien'||role=='infermier'" class="value text-lg items-center">{{ ordonnance.medecin_id }}</span>
        <span class="label text-lg">Patient :</span>
        <span class="value text-lg">{{ ordonnance.patient_id }}</span>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <div class="footer">
    <div *ngIf="role=='medecin' && !ordonnance.termine" class="buttons-container">
      <button class="add-button" (click)="openAddPanel()">
        <img src="/assets/images/ajouter.png" class="h-5 w-5 items-center"> Ajouter un medicament</button>
        <app-ajouter-medicament
        [isVisible]="isAddPanelVisible"
        (closePanel)="closeAddPanel()"
        (saveConsultation)="addMedicament($event)">
        </app-ajouter-medicament>
      <button class="terminer-button" (click)="terminate()">
        terminer
      </button>
    </div>
    <div *ngIf="role=='pharmacien'&& !ordonnance.estValide" class="buttons-container">
      <button class="valider-button" (click)="valider()">
        valider l'ordonnance
      </button>
    </div>
</div>
