@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply bg-white h-[60px];
  }

  /* Custom shadow position */
  .header-shadow {
    position: relative;
  }

  /* First shadow (from left to 210px) */
  .header-shadow::before {
    content: '';
    position: absolute;
    bottom: -4px; /* Align with the second shadow */
    left: 0;
    width: 210px; /* Fixed width instead of right property */
    height: 0.5px;
    box-shadow: 0px 2px 2px rgba(65, 132, 247, 0.2);
    z-index: -1;
  }

  /* Second shadow (from 210px to right) */
  .header-shadow::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 210px; /* Start exactly where the first shadow ends */
    right: 0;
    height: 4px;
    box-shadow: 0px 6px 12px rgba(65, 132, 247, 0.3);
    z-index: -1;
  }

  .logo {
    @apply font-poppins font-semibold text-[45px] leading-[60px] text-[#0C2757];
  }

  .doctor-image {
    @apply object-cover w-[60px] h-[60px] rounded-full border-4 border-[#3A8EF6];
  }

  .doctor-name {
    @apply text-[25px] font-bold text-[#0C2757] font-poppins;
  }

  .admin {
    @apply text-[18px] text-[#3A8EF6] font-poppins;
  }
}
