<div class = " w-screen h-screen bg-blue_lighter flex flex-col justify-center items-center gap-4">
    <app-header-pdi ></app-header-pdi>
    <div class= " px-16 py-8 bg-white rounded-lg shadow-lg flex justify-center items-center flex-col gap-4 ">
        <h2 class = " text-2xl text-main_color font-semibold">Restaurer Mot de Passe</h2>
        <h2 class = " text-lg  text-second font-normal">Saisir votre email pour l'envoie du code</h2>
        <form (submit)="onSubmit($event)" class = " flex justify-center items-center flex-col w-full gap-4">
          <div class=" flex justify-center items-start flex-col w-full">
            <label for="email" class = " text-main_color my-1">Email</label>
            <input

              type="email"
              id="email"
              name="email"
              class=" w-full px-2 py-1 border border-blue bg-blue_lighter rounded-lg"
              [(ngModel)]="email"
              required
            />
          </div>
          <div class = " flex justify-between items-center gap-4">
            <button type="button" (click)="gobacktologin()" class=" bg-white border  border-blue text-blue px-4 py-2 rounded-lg mt-4">
            annuler
            </button> 
          <button type="submit" class=" bg-gradient-to-r  from-blue to-[#6F3AFA] text-white px-4 py-2 rounded-lg mt-4">
            envoyer
          </button>

          </div>

        </form>
      </div>
</div>

  