<!-- Fix the header so it stays at the top -->
<app-header-pdi></app-header-pdi>

<!-- Main content -->
<div class="layout flex pt-[60px]">
  <!-- Add padding-top for spacing below the fixed header -->
  <app-sidebar></app-sidebar>
  <div class="bg-[#F3F8FF] flex-1">
    <!-- Adjusted for sidebar width -->
    <ng-container *ngIf="!loading">
      <app-bilan-display-radiologue
        *ngIf="isRadiologue()"
        [bilan]="bilan"
        [result]="result"
      >
      </app-bilan-display-radiologue>

      <app-bilan-display-med-valid
        *ngIf="isMedecin() && bilan.est_resultat"
        [bilan]="bilan"
        [result]="result"
      >
      </app-bilan-display-med-valid>

      <app-bilan-display
        *ngIf="isMedecin() && !bilan.est_resultat"
        [bilan]="bilan"
      >
      </app-bilan-display>
    </ng-container>
  </div>
</div>
