<div class="app-layout">
  <!-- Header -->
  <app-header-pdi class="header"></app-header-pdi>
  <!-- Main Content -->
  <div class="main-section">
    <!-- Sidebar -->
    <app-sidebar class="sidebar" [activeItem]="activeItem" [role]="userRole"></app-sidebar>
    <!--real main-->
    <div class="content">
    <ng-container *ngIf="bilan">
    <app-bilan-display-radiologue
      *ngIf="isRadiologue()"
      [bilan]="bilan"
      [result]="result">
    </app-bilan-display-radiologue>

    <app-bilan-display-med-valid
      *ngIf="isMedecin() && bilan.est_resultat"
      [bilan]="bilan"
      [result]="result">
    </app-bilan-display-med-valid>

    <app-bilan-display
      *ngIf="isMedecin() && !bilan.est_resultat"
      [bilan]="bilan">
    </app-bilan-display>
</ng-container>
</div>
</div>
</div>
