<div *ngIf="isVisible" class="modal-overlay">
  <div class="modal-content">
    <div class="panel-header">
      <button class="close-button" (click)="closePopup.emit()">
        <img src="/assets/images/fermer.png" class="h-5 w-5" />
      </button>
      <span class="panel-title">Modifier {{label}}</span>
    </div>

    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="detail">{{label}}:</label>
        <textarea id="detail" formControlName="detail" class="form-control">{{detail}}</textarea>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary" [disabled]="detailForm.invalid" (click)="closePopup.emit()">
          Sauvegarder
        </button>
      </div>
    </form>
  </div>
</div>
