<div class="p-8">
  <!-- Search and Add Section -->
  <div class="justify-between mb-8">
    <div class="relative mb-8">
      <input
        type="text"
        placeholder="Rechercher un établissement"
        class="w-[1250px] h-[55px] !text-[#4B6386] font-poppins text-xl pl-4 pr-14 py-2 rounded-2xl border-2 border-[#c7dfff] focus:ring-2 focus:ring-blue-500 focus:outline-none placeholder-[#4B6386] placeholder-shown:font-semibold"
        [(ngModel)]="searchTerm"
        (input)="onSearch($event)"
      />
      <div
        class="absolute right-0 top-0 h-full flex items-center bg-[#3A8EF6] rounded-r-2xl px-3"
      >
        <img
          src="assets/images/loupe.png"
          alt="Search Icon"
          class="h-10 w-10 text-white"
        />
      </div>
    </div>

    <div class="flex gap-[590px]">
      <div class="!text-[#4B6386] font-poppins font-semibold text-xl">
        Il existe {{ filteredEstablishments.length }} établissements
      </div>

      <button
        *ngIf="isAdmin"
        class="flex items-center rounded-[20px] shadow-lg !bg-[#3A8EF6] !text-white text-center font-bold font-poppins !text-[25px] !px-5 !py-3"
        (click)="openModal()"
      >
        <img src="assets/images/plus.png" alt="" class="pr-4" />
        Ajouter un Etablissement
      </button>
    </div>
  </div>

  <!-- Establishments Grid -->
  <div class="h-fit">
    <div class="grid grid-cols-3 gap-10">
      <div
        *ngFor="let establishment of currentEstablishments"
        class="p-4 border-2 border-[#3A8EF6] h-fit rounded-2xl hover:border-blue-400 bg-white transition-colors"
      >
        <div class="flex justify-between items-start mb-2">
          <h3 class="text-3xl font-semibold font-poppins mr-3 m-2">
            {{ establishment.nom_etablissement }}
          </h3>
          <div class="gap-2">
            <div
              class="text-[#3A8EF6] font-poppins text-center font-semibold text-xl"
            >
              500
            </div>
            <div class="text-[#3A8EF6] font-poppins text-center text-lg">
              employés
            </div>
          </div>
        </div>
        <div class="text-[#4B6386] text-xl font-poppins mb-7">
          {{ establishment.email }}
        </div>
        <div class="text-lg text-[#4B6386] font-poppins-thin">
          <div>{{ establishment.adresse }}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination -->
  <div class="flex justify-center mt-8 gap-3">
    <button
      *ngFor="let page of getPageArray()"
      (click)="setPage(page)"
      class="px-4 py-2 rounded"
      [ngClass]="{
        'bg-[#3A8EF633] text-[#3A8EF6] border-2 border-[#3A8EF6]':
          currentPage === page,

        'bg-white text-[#7C7C7C]  border-[2px] border-[#7C7C7C]':
          currentPage !== page
      }"
    >
      {{ page }}
    </button>
  </div>
</div>

<div
  *ngIf="showModal"
  class="fixed bottom-0 h-[700px] right-0 bg-white rounded-xl shadow-lg !p-6 w-[500px] z-50"
>
  <div class="flex justify-between items-center mb-4">
    <img
      src="assets/images/goBack.png"
      alt="return"
      class="cursor-pointer"
      (click)="closeModal()"
    />
    <h2 class="text-xl font-semibold text-[#0C2757]">Ajouter établissement</h2>
  </div>

  <!-- Nom Input -->
  <div class="mt-6">
    <label class="block font-medium text-xl mb-2"> Nom </label>
    <input
      type="text"
      [(ngModel)]="newEstablishment.nom_etablissement"
      class="w-full bg-[#F3F8FF] h-12 border-2 border-[#3A8EF6] rounded-xl px-4"
    />
    <p
      *ngIf="EtablissementValidationErrors.nom_etablissement"
      class="text-red-500 text-sm mt-1"
    >
      {{ EtablissementValidationErrors.nom_etablissement }}
    </p>
  </div>

  <!-- Adresse Input -->
  <div class="mt-6">
    <label class="block font-medium text-xl mb-2"> Adresse </label>
    <input
      type="text"
      [(ngModel)]="newEstablishment.adresse"
      class="w-full bg-[#F3F8FF] h-12 border-2 border-[#3A8EF6] rounded-xl px-4"
    />
    <p
      *ngIf="EtablissementValidationErrors.adresse"
      class="text-red-500 text-sm mt-1"
    >
      {{ EtablissementValidationErrors.adresse }}
    </p>
  </div>

  <!-- Email Input -->
  <div class="mt-6">
    <label class="block font-medium text-xl mb-2"> Email </label>
    <input
      type="text"
      [(ngModel)]="newEstablishment.email"
      class="w-full bg-[#F3F8FF] h-12 border-2 border-[#3A8EF6] rounded-xl px-4"
    />
    <p
      *ngIf="EtablissementValidationErrors.email"
      class="text-red-500 text-sm mt-1"
    >
      {{ EtablissementValidationErrors.email }}
    </p>
  </div>

  <!-- Téléphone Input -->
  <div class="mt-6">
    <label class="block font-medium text-xl mb-2"> Téléphone </label>
    <input
      type="text"
      [(ngModel)]="newEstablishment.telephone"
      class="w-full bg-[#F3F8FF] h-12 border-2 border-[#3A8EF6] rounded-xl px-4"
    />
    <p
      *ngIf="EtablissementValidationErrors.telephone"
      class="text-red-500 text-sm mt-1"
    >
      {{ EtablissementValidationErrors.telephone }}
    </p>
  </div>

  <!-- Action Buttons -->
  <div class="flex justify-end gap-3 m-10 mt-14">
    <button
      (click)="addEstablishment()"
      class="px-4 py-2 bg-[#3A8EF6] font-semibold font-poppins text-white rounded-2xl text-xl"
    >
      Créer établissement
    </button>
  </div>
</div>
